<aside><div>
<% unless signed_in? %>
  <ul>
    <li class="google"><%= link_to "Sign in with Google", new_session_path %></li>
  </ul>
<% else %>
  <%= link_to "Sign out (#{current_user.first_name} #{current_user.last_name})", { :controller => :sessions, :action => :destroy }, :method => :delete %>
<% end %>
</div></aside>
