// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

#account-link {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  background: #2a2a2a;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
}

#account-panel {
  position: absolute;
  top: 26px;
  right: 0px;
  width: 190px;
  padding: 10px 15px 5px 15px;
  background: #2a2a2a;
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
  display: none;
  
  a {
    color: #ffffff;
  }
}

li.google {
  list-style: none;
  margin: 0;
  
  a {
    background-repeat: no-repeat;
    padding-left: 20px;
    background-image: url('http://google.com/favicon.ico');
  }
}

ul {
  list-style: none;
}

li {
  clear: both;
}

li>b, li>strong, li>span {
  display: block;
  float: left;
  width: 100px;
}

li>span {
  width: 500px;
  margin-left: 50px;
}

li>span[contenteditable=true]:hover {
  background-color: #ffc;
}

li>span[contenteditable=true]:focus {
  background-color: #ffa;
  border: 1px shaded #000;
}
