<%= render 'coin_pager' %>

<div id="wrap">
  <h2>Viimased leiud</h2>
  <div class="jcarousel-skin-ie7">
    <div class="jcarousel-container jcarousel-container-horizontal">
      <div class="jcarousel-clip jcarousel-clip-horizontal">
        <ul id="mycarousel" class="jcarousel-list jcarousel-list-horizontal">
          <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-horizontal">First item</li>
          <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-horizontal">Second item</li>
        </ul>
      </div>
      <div disabled="disabled" class="jcarousel-prev jcarousel-prev-disabled jcarousel-prev-horizontal jcarousel-prev-disabled-horizontal"></div>
      <div class="jcarousel-next jcarousel-next-horizontal"></div>
    </div>
  </div>
</div>
