<%= render 'coin_pager' %>

<% if @latest_coins.count > 0 then %>
<section id="coins">
  <h2>Viimased leiud</h2>
  <%= render partial: "coin", collection: @latest_coins, locals: { notice: notice } %>
</section>
<% end %>
